
.icon-left-circled:before { content: '\21'; } /* '!' */
.icon-right-circled:before { content: '\22'; } /* '&quot;' */
.icon-down-circled:before { content: '\23'; } /* '#' */
.icon-up-circled:before { content: '\24'; } /* '$' */
.icon-location:before { content: '\e800'; } /* '' */
.icon-cancel-circled2:before { content: '\e801'; } /* '' */
.icon-cancel-circled:before { content: '\e802'; } /* '' */
.icon-down-open:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-up-open:before { content: '\e806'; } /* '' */
.icon-right-open-big:before { content: '\e807'; } /* '' */
.icon-play:before { content: '\e80b'; } /* '' */
.icon-play-circled:before { content: '\e80c'; } /* '' */
.icon-play-circled2:before { content: '\e80d'; } /* '' */
.icon-stop:before { content: '\e80e'; } /* '' */
.icon-pause:before { content: '\e80f'; } /* '' */
.icon-pause-circled:before { content: '\e810'; } /* '' */
.icon-stop-circled:before { content: '\e811'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */