

$main-background ?= #000000
$main-font-color ?= #ffffff

$base-size ?= 16
rem(target)
  target / $base-size * 1rem

$main-size ?= rem(16)
$main-width ?= 100%
$main-height ?= 100%

$body-width ?= $main-width

$color-dark ?= $main-background
$color-medium-dark ?= alpha(#fff, .10)
$color-medium ?= alpha(#fff, .20)
$color-light ?= alpha(#fff, .40)
$color-white ?= alpha(#fff, .70)
$color-oak ?= #f18571

$padding-left ?= rem(32)
$padding-right ?= rem(10)
