doctype html
html(ng-app='appWsfschedule')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    link(href='/helvetica.css', rel='stylesheet', type='text/css')
    link(href='/index.css', rel='stylesheet', type='text/css')
  body(ng-controller="mainController")
    div.wrapper
      div.header
        div.overlay Vashon Ferry Schedules
          div.poweredby Powered by
          div.oakos
            img(src='img/logo.png' width='50%')
        div.title WSF
        div.date(ng-bind-html="today")
      div.route(ng-repeat="route in routes")
        div.terminal(ng-bind-html="route.terminal")
        div.destination(ng-bind-html="route.destination")
        div.times
          div.boat(ng-repeat="boat in route.times")
            div.time(ng-class="{'current': $index == 1}") {{boat.time}}
            div.status(ng-bind-html="boat.status" )