@import "includes/vars.styl"
@import "includes/font.styl"


*
  display block
  box-sizing border-box
  transform translate3d(0, 0, 0)
  -webkit-transform-style preserve-3d
  -webkit-backface-visibility hidden
  -webkit-font-smoothing subpixel-antialiased
  user-select none !important
  touch-action none !important
  -webkit-tap-highlight-color rgba(255, 255, 255, 0) !important

body, html
  color $main-font-color
  background-color $color-dark
  height 100%
  width 100%
  margin 0
  padding 0
  overflow hidden

html
  font-size $main-size
  line-height 1.15
  -webkit-text-size-adjust 100%

body
  font-size 1rem

// main sections
.wrapper
  position relative
  height $main-height
  width $main-width
  margin 0
  padding 0
  border 0px solid $main-background
  display flex
  flex-direction column
  justify-content center
  align-items middle
  text-align center
  .banner
    display flex
    justify-content space-between
    align-items center
    padding 0 $padding-right 0 $padding-left
    background-color $color-medium-dark
    height 34px
    border-bottom .5px solid $color-medium
    .title
      color $color-white
      font-size 26px
      font-weight 600
    .id-wrapper
      display flex
      justify-content flex-end
      align-items flex-end
      .poweredby
        font-size 12px
        font-weight 300
      .oakos
        img
          height 26px
          width 75px
  .info-box
    display flex
    align-items flex-start
    justify-content space-between
    padding 32px $padding-right 32px $padding-left
    .title
      text-align left
      font-weight 600
      .name
        font-size 36px
        line-height 36px
      .subtitle
        font-size 16px
        line-height 16px
        padding-left 2px
    .date-time
      display flex
      align-items center
      text-transform uppercase
      font-weight 600
      padding 2px $padding-right 2px 2px
      .time
        font-size 45px
        line-height 45px
        font-weight 600
        margin-right 6px
      .date-day
        text-align left
        .day
          border-bottom 1px solid $color-white
        .date
          margin-top 2px
  .route
    width 100%
    flex-grow 1
    .terminal-header
      display flex
      justify-content space-between
      align-items flex-end
      border-top .5px solid $color-oak
      border-bottom .5px solid $color-oak
      background-color $color-medium-dark
      padding-left $padding-left
      padding-right $padding-right + 4
      padding-top 20px
      padding-bottom 20px
      font-weight 600
      font-style italic
      color $color-white
      .terminal
        display flex
        justify-content flex-start
        align-items flex-end
        .direction
          font-size 32px
          line-height 32px
          text-transform uppercase
          margin-right 10px
        .label
          font-size 16px
      .destination
        color $color-white
        font-weight 600
        font-size 16px
        display flex
        justify-content flex-end
        .label
          color $color-oak
          text-transform uppercase
          margin-right 2px
    .times
      display flex
      justify-content space-between
      padding 15px $padding-right 15px $padding-left
      .times-column-one
        display flex
        flex-direction column
        align-items flex-start
        text-align left
        color $color-oak 
        width 50%
        //border 1px solid red
        .boat
          opacity .5
          width 80%
          &.current
            opacity 1
            border-top .5px solid $color-oak
            margin-top 10px
            padding-top 10px
            .boat-wrapper
              .boat-time-name
                flex-direction column-reverse
                font-weight 600
                .boat-time
                  align-items flex-end
                  .hours-minutes
                    font-size 45px
                    line-height 45px
                  .am-pm
                    font-size 26px
                    margin-bottom 3px
                .boat-name
                  font-size 26px
                  align-self flex-start
              .boat-delayed
                &.ontime
                  color $color-white
                
        .boat-wrapper
            .boat-departed
              .departed
                display flex
                justify-content space-between
                align-items center
                max-width 75%
                .text
                  color $color-oak
                  text-transform uppercase
                .image
                  img
                    width 40px
                    height 13px
            .boat-next
                display flex
                justify-content space-between
                align-items center
                max-width 75%
                .text
                  color $color-white
                  margin-right 3px
                  text-transform uppercase
                .image
                  img
                    width 40px
                    height 13px
            .boat-time-name
              display flex
              .boat-time
                display flex
                text-transform uppercase
                font-size 26px
                line-height 26px
                margin-right 5px
              .boat-name
                align-self flex-end

      .times-column-two
        width 50%
        //border 1px solid red
        text-align left
        padding-top 10px
        .boat-label-wrapper
          border-bottom .5px solid @color-white
          margin-bottom 10px
          padding 4px
          .boat-label
            text-transform uppercase
            font-weight 600
        .boat
          .boat-wrapper
            .boat-time-name
              display flex
              align-items flex-end
              font-weight 600
              padding-bottom 5px
              .boat-time
                text-transform uppercase
                margin-right 10px
                font-weight 400
                font-size 1.2em
                min-width 80px
                text-align right
          