doctype html
html(ng-app='appWsfschedule')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    link(href='/helvetica.css', rel='stylesheet', type='text/css')
    link(href='/index.css', rel='stylesheet', type='text/css')
  body(ng-controller="mainController")
    .wrapper
      .banner
        .title WSF
        .id-wrapper
            .poweredby www.oaklabs.is
            .oakos
              img(src='img/logo_oakos.svg')
      .info-box
        .title 
          .name {{appName}}
          .subtitle {{appSubTitle}}
        .date-time
          .time(ng-bind-html='today.format("h:mm a")')
          .date-day
            .day {{today.format("ddd")}}
            .date(ng-bind-html='today.format("MMM D")')
      .lastUpdated Last Updated: {{lastUpdated}}
      .route-wrapper
        .route(ng-repeat="route in routes")
          .terminal-header
            .terminal
              .direction(ng-bind-html="route.terminal")
              .label Terminal
            .destination
              .label To&colon;&nbsp;
              .text(ng-bind-html="route.destination")
          .times
            .times-column-one
              .boat.departed(ng-repeat="departed in route.times.departed | limitTo:1")
                .boat-wrapper
                  .boat-departed
                    .departed
                      .text departed
                      .image
                        img(src='img/arrow-right.svg')
                    .boat-time-name
                      .boat-time(ng-bind-html='splitTime(departed.time)')
                      .boat-name(ng-bind-html='departed.vesselName')  
              .boat.current(ng-repeat="current in route.times.current | limitTo:1")
                .boat-wrapper
                  .boat-next
                    .text Next Ferry
                    .image
                      img(src='img/arrow-left.svg')
                  .boat-time-name
                    .boat-time(ng-bind-html='splitTime(current.time)')
                    .boat-name(ng-bind-html='current.vesselName')
                  .boat-delayed(ng-class="{'ontime':boatStatus[current.vesselId].departDelayed != 'Y'}", ng-bind-html="boatStatus[current.vesselId].departDelayed == 'Y'?'(Delayed)':'(On Time)'" )
              .boat-status(ng-bind='route.times[0].status' ng-if='route.times[0].status')
            .times-column-two
              .boat-label-wrapper(ng-if='route.times.upcoming.length >= 1')
                .boat-label Upcoming
              .boat(ng-repeat='upcoming in route.times.upcoming')
                .boat-wrapper
                  .boat-time-name
                    .boat-time(ng-bind-html='upcoming.time')
                    .boat-name(ng-bind-html='upcoming.vesselName')